body {
    background-image: url(https://images.unsplash.com/photo-1517429481096-5bc77134f77c?ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80);
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: white;
    background-position: center;
}

html {
    height: 100%;
}
#content {
    text-align: center;
    margin-top: 25%;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1 );
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

hr {
    width: 400px;
    border-top: 1px solid #F8F8F8;
    border-bottom : 1px solid rgba(0, 0, 0, 0.2);
}