body {
    padding-top: 70px;
}

.icon-logo {
    color: white;
    padding: 6px;
}

.jumbotron {
    color: #2C3E50;
    background-color: #ECF0F1;
}

.bg-blue-dark {
    background-color: #2C3E50;
}


.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255, 1);
}