body {
    border: 15px solid #BDC3C7;
    font-family: 'source sans pro';
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.date {
    color: #3498DB;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

h2 {
    color: #2C3E50;
    font-size: 2.0rem;
}

div p:nth-of-type(1) {
    border-left: 5px solid #BDC3C7;
    padding-left: 5px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.post {
    margin-bottom: 20px;
}