/* The Box Model
    - Padding
    - Margin
    - Border
    - More..... */

/* In a document, each element is represented as a rectangular box
    In CSS, each of these rectangular boxes is described using
    the standard box model

    Each box has four edges:
    - margin edge
    - border edge
    - padding edge
    - content edge

    Box Model
    - Content
    - Padding
    - Border
    - Margin
*/

p {
    /* Content - Width and Height */
    /* width: 200px; */
    width: 50%;
    /* height: 300px; */

    /* Border */
    border: 2px solid blue;

    /* Padding */
    /* padding: 10px; */
    padding-left: 25px;

    /* Margin */
    /* margin: 100px;
    margin-top: 500px; */
    /* margin: top right bottom left; */
    /* margin: 20px 40px 500px 100px; */
    /* margin: 0 auto 0 auto; */
    margin: 0 auto;
}
