/* font-family */


p {
    /* font-family: Arial; */
    font-family: 'Shadows Into Light', cursive;
}

h1 {
    /* font-family: Georgia; */
    font-family: 'Dancing Script', cursive;
}

/* font-size */
body {
    font-size: 10px;
}

h1 {
    font-size: 5.0em;
    /* Ems - Another way of setting the font size is with em vaues
    The size of an em value is dynamic
    em = desired element pixel value / parent element font-size in pixels */
}

p {
    /* font-size: 40px;  */
    font-size: 2.0em;
}

span {
    font-size: 2.0em;
}

/* font-weight */
p {
    /* font-weight: bold; */
    /* font-weight: normal; */
    /* font-weight: 100 - 800; */
    /* font-weight: 800; */
    font-weight: 100;
}

/* line-height */
p {
    line-height: 2;
}

/* text-align */
h1 {
    text-align: right;
}

p {
    text-align: center;
}

/* text-decoration */
p {
    text-decoration: underline;
}

h1 {
    text-decoration: line-through;
}

