/* div {
    width: 100px;
    float: left;
}
#one {
    background-color: red;
}

#two {
    background-color: purple;
} */

img {
    width: 30%;
    float: left;
    margin: 1.66%;
}

p {
    font-family: Raleway;
    font-weight: 800;
    margin-left: 1.66%;
    font-size: 23px;
    text-transform: uppercase;
    border-bottom: 2px solid #F1F1F1;
    width: 30%;
    padding-bottom: 20px;
}