/* Color and Background
 - Use color to set text color and background for background color */

body {
    background: #95A5A6;
    background: url(https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.pixelstalk.net%2Fwp-content%2Fuploads%2F2016%2F06%2FWood-Grain-HD-Wallpapers.jpg&f=1);
    background-repeat: no-repeat;
    background-size: cover;

    background: pink;
}

div {
    background: #3498DB;
}

p {
    color: #ECF0F1;
}

h1 {
    color: rgba(0, 200, 100, 0.8);
    border-color: purple;
    border-width: 5px;
    border-style: solid;

    border: purple 5px solid ;
}
