/* Color in CSS
- Hexadecimal: #+String of 6 hexadecimal numbers (from 0-F)
    color: #000000;
    color: #4B0082;
    color: #FF1493;
    red green blue
    */

h1 {
    color: #FF0000;
}

h2 {
    color: #00FF00;
}

h3 {
    color: #0000FF;
}

/* - RGB: 3 channels: Red, Green and Blue. Each ranges from 0 - 255
    color: rgb(0, 255, 0);
    color: rgb(100, 0, 100);
    color: rgb(11, 99, 150); */

h1 {
    color: rgb(255, 0, 0);
}

h2 {
    color: rgb(0, 255, 0);
}

h3 {
    color: rgb(0, 0, 255);
}

h4 {
    color: rgb(255, 255, 255);
}

h5 {
    color: rgb(0, 0, 0);
}

/* - RGBA: Just like RGB, but with an alphat(transparency) channel. Ramges from 0.0 - 1.0
    color: rgba(11, 99, 150, 1);
    color: rgba(11, 99, 150, .6);
    color; rgba(11, 99, 150, .2); */

h1 {
    color: rgba(255, 0, 0, 1);
}

h2 {
    color: rgba(255, 0, 0, .5);
}

h3 {
    color: rgba(255, 0, 0, .3);
}