/* CSS Selectors
    - The Basics: Element, ID and Class */

/* Select all instances of a given element */
div {
    background: purple;
}

/* ID Selector
Selects an element with a given ID. Only one per page! */
#special {
    color: yellow;
}

/* Class Selector
Selects all elements with a given class */
.highlight {
    background: red;
}
