/* https://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048 */

/* Element */
li {

}

/* Class */
.hello {

}

/* ID */
#name {

}

/* Start */
* {
    border: 1px solid lightgray;
}

/* Descendant Selector */
li a {
    color: red;
}

/* Adjacent Selector

    ul + p {
        color: red;
    }

    This is referred to as an adjacent selector.
    It will select only the element that is immediately preceded by the former element.
    In this case, only the first paragraph after each ul will have red text.
*/
h4 + ul {
    border: 4px solid red;
}

/* Attribute Selector */
a[href="http://www.google.com"] {
    background: blue;
}

input[type="checkbox"] {
    background: red;
}

/* nth of type */
ul:nth-of-type(3) {
    background: purple;
}

li:nth-of-type(3) {
    background: black;
}

h4:nth-of-type(even) {
    background: orange;
}